@font-face {
    font-family: avenir-bold;
    font-display: fallback;
    src: url(assets/fonts/AvenirNextCyr-Bold.woff) format("woff");
}

@font-face {
    font-family: avenir;
    font-display: fallback;
    src: url(assets/fonts/AvenirNextCyr-Regular.woff) format("woff");
}