@import "./assets/scss/fonts.scss";
@import "./assets/scss/colours.scss";

* {
    font-family: 'avenir';
    color: $black;
}

strong {
    font-family: 'avenir-bold';
}

body {
    margin: 0;
    background-color: #f7fbfb;
}