@import "../../assets/scss/colours.scss";

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/assets/images/background-pattern.svg");
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    font-size: 20px;

    .left {
        width: 65vw;
        float: left;

        @media(max-width: 1150px) {
            width: 100vw;
        }
    }

    .content {
        padding: 10vh 7.5% 5rem 12%;

        @media(max-width: 1150px) {
            padding: 10vh 12% 5rem 12%;
        }

        .socials {
            margin-bottom: 3rem;

            a {
                color: $subtle_text;
                text-decoration: none;
                margin-right: 1rem;
                cursor: pointer;

                &:hover {
                    color: $highlight;
                    border-bottom-style: solid;
                    border-bottom-width: 3px;
                }
            }
        }

        .mobile_image {
            display: none;

            @media(max-width: 1150px) {
                display: block;
            }

            overflow: hidden;
            width: 100%;
            height: 15rem;
            margin: 2rem auto;
            border: 3px solid $border;
            border-radius: 0.5rem;
            background-color: white;
            background-image: url("/assets/images/red-on-blue.svg");
            background-position: 50% 24%;
            background-size: 300px;
            background-repeat: no-repeat;
        }

        .heading {
            font-size: 2.2rem;
            line-height: 1.5;
            font-weight: 500;

            strong {
                font-weight: 300;
            }

            a {
                text-decoration: none;
                color: black;
                border-bottom: 5px solid $highlight;
                transition: color 0.2s;

                &:hover {
                    color: $highlight;
                }
            }
        }

        .sub-heading {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.6rem;
            font-weight: 400;
        }

        .list {
            margin-top: 3rem;
            margin-left: calc(-2.5rem / 2);
            margin-right: calc(2.5rem / 2);
        }
    }

    .right {
        position: fixed;
        right: 0px;
        z-index: -1;
        width: 40vw;
        height: 100vh;
        float: right;
        background-image: url("/assets/images/red-on-blue.svg");
        background-position: 50% 50%;
        background-size: 500px;
        background-repeat: no-repeat;

        @media(max-width: 1150px) {
            display: none;
        }

    }
}