<div class="background"></div>

<div class="wrapper">
    <div class="left">
        <div class="content">
            <div class="socials">
                <a target="_blank" rel="noreferrer" href="https://github.com/sharkeyjames">Github</a>
                <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/sharkey-james/">LinkedIn</a>
            </div>
            <div class="mobile_image"></div>
            <h1 class="heading">
                Hey I'm <strong>James Sharkey</strong>.
                I'm a Computer Science graduate and software engineer.
                I'm currently working in full stack web development over at
                <a target="_blank" rel="noreferrer" href="https://www.wearewiser.com">Wiser</a>.
            </h1>
            <h2 class="sub-heading">Here are some projects I've worked on:</h2>
            <div class="list">
                <app-list [projects]="projects"></app-list>
            </div>
        </div>
    </div>
    <div class="right">
    </div>
</div>